body
{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
	background: #000000;
}
.container
{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}


.bubbles
{
	position: relative;
	display: flex;
}
.bubbles span
{
	position: relative;
	width: 30px;
	height: 30px;
	background: #EF0D0D;
	margin: 0 4px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #EF0D0D44,
	0 0 50px #EF0D0D,
	0 0 100px #EF0D0D;
	animation: animate 15s linear infinite;
	animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even)
{
	background: #FFFFFF;
	box-shadow: 0 0 0 10px #FFFFFF44,
	0 0 50px #FFFFFF,
	0 0 100px #FFFFFF;
}
@keyframes animate
{
	0%
	{
		transform: translateY(100vh) scale(0);
	}
	100%
	{
		transform: translateY(-10vh) scale(1);
	}
}


.card {
	 position: relative;
	 width: 300px;
	 height: 425px;
	 border: 10px solid #BD0102;
	 margin: 60px auto 0 auto;
	 box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
     background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(255, 255, 255, 0.5)),
     url("img/inv2.png");

	background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
	background-color: #BD0102;
}
 .card .text-container {
	 width: 80%;
	 height: 80%;
	 margin: auto;
}
 .strikethrough {
	 text-decoration: line-through;
}
 .card .text-container #head {
	 font-family: 'Nobile', sans-serif;
	 font-size: 1.5em;
	 margin: 60px auto 60px auto;
}
 .card p {
	 font-size: 1.1em;
	 line-height: 1.4;
	 font-family: 'Nobile';
	 color: #B72809;
	 font-style: italic;
	 text-align: center;
	 margin: 30px auto 0px auto;
}
 .card .front {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 margin: -10px 0px 0px -10px;
	 border: 10px solid #BD0102;
	 backface-visibility: hidden;
	 background-color: #BD0102;
	/* background-image: url($cover-image);
	 */
	 background-size: contain;
	 transform-style: preserve-3d;
	 transform-origin: 0% 50%;
	 transform: perspective(800px) rotateY(0deg);
	 transition: all 0.8s ease-in-out;
}
 .card:hover .front {
	 transform: perspective(800px) rotateY(-170deg);
	 background-color: #BD0102;
}
 .card:hover .back {
	 transform: perspective(800px) rotateY(-170deg);
	 box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
	 background-color: #FFFFFF;
}
 .card .back {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 border: 10px solid #BD0102;
	 margin: -10px 0px 0px -10px;
	 backface-visibility: visible;
	 filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
	 transform-style: preserve-3d;
	 transform-origin: 0% 50%;
	 transform: perspective(800px) rotateY(0deg);
	 transition: all 0.8s ease-in-out;
	 background-color: #BD0102;
	 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.imgset
{
  position: absolute;
  z-index: 2;
  margin-bottom: auto;
}
.imgset img
{
    box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}
.button{
	width: 150px;
	margin-left: 30%;
}
